:root {
    --font-white: rgb(249, 249, 249);
    --font-gray: rgb(183, 183, 183);
    --main-bg-color: brown;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.card {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 1px 1px 10px rgb(90, 90, 90);
    overflow: hidden;
    background-image: url(images/2aVHHg1.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 48% 2% 48%;
    grid-template-rows: 48% 2% 48%;
}


.card_item1 {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height:100%;
    /* background-image: url(images/2aVHHg1.jpg);
    background-size: cover; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 20% 30%;
}

.card_temp {
    color: var(--font-white);
    margin: auto;
    font-size: 5rem;
    grid-column: 1/3;
    grid-row: 1/2;
}

  .card_location,.card_country {
    font-size: 0.8rem;
    color: var(--font-white);
    font-weight: 100;
  }

  .card_location{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.4rem;
  }

  .card_btn {
    color: var(--font-white);
    width:100px;
    height:30px;
    grid-column: 1/3;
    grid-row: 3/4;
    margin: auto;
    background-color: #57abff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(90, 90, 90);
    transition: 0.3s;
  }

  .card_btn:hover, .card_btn:focus, .card_btn:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: 0.3s;

  }

  .card_item2 {
    grid-column: 1/4;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
  }

  .card_info {
    font-size: 3rem;
    color: var(--font-white);
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;    
  }

  .card_image {
    width:150px;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  ul {
    grid-row: 1/3;
    grid-column: 1/2;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    margin: 7px;
    display: flex;
    justify-content: center;
  }

  
  .card_wind2,.card_clouds,.card_pressure {
    font-size: 1rem;
    color: var(--font-white);
  }
  